<div class="dialog-container">
  <h5>Video Guideline</h5>
  <div class="guideline">• Seat in front of a window or a light source to ensure face is well lit.</div>
	<div class="guideline">• Keep sufficient distance from the camera. Do not seat too close or too far away from the camera</div>
	<div class="guideline">• Make sure you are the only person recording the video. No other person should be visible during the recording</div>
	<div class="guideline">• Avoid use of dark shades (goggles) while recording the video</div>
	<div class="guideline">• Preview the recorded video before submitting. If you want to re-record, Refresh the webpage and start again</div>
  <div class="action-container">
    <button mat-dialog-close="true" class="btn btn-primary btn-sm">Got It</button>
    <button (click)="close()"  class="btn btn-primary btn-sm">Cancel</button>
  </div>
</div>

