.dialog-container {
  font-size: 14px;
  line-height: 1.5rem;
}

.guideline {
  padding: 5px;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.btn {
  margin: 10px;
}
.btn:focus {
  box-shadow: none;
}



/deep/ .mat-dialog-container {
  border-radius: 0px;
  padding: 20px;
}

h5 {
  text-align: center;
}
