.footer {
  background: #040e1b;
  text-align: center;
  color: #f6f6f6;
  padding: 5px;
  position: fixed;
  position: sticky;
  top: 0;
  bottom: 0;
}


.disclaimer-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: space-between;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .disclaimer-container {
    display: block;
    font-size: 10px;
  }
}



