.title {
  background: #212121;
  background: url('../../../assets/5e6f8ee1c48540116e247a42.jfif') no-repeat center center/cover;
  opacity: .98;
  padding: 15px;
  text-align: center;
  color: black;
  position: sticky;
  top: 0px;
}

