.title {
  background: #212121;
  background: url('../../../assets/covid19_crop.png');
  padding: 20px;
  text-align: left;
  color: black;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none;
  color: #f6f6f6;
  justify-content: center;
}

.card {
  background: #111;
}

p {
  line-height: 21px;
}

span {
  display: inline-block;
  padding-top: 20px;
  cursor: pointer;
}

label {
  display: block;
  padding-bottom: 10px;
}

.form-control {
  width: 35%;
}


video {
  width: 60%;
  height: 410px;
}

.action-container {
  display: flex;
  justify-content: left;
}

.btn {
  margin-right: 10px;
}
.btn-primary {
   background: #65c9f9;
  border: none;
}


.drop-down {
  height: 25px;
  color: #fff;
  background: blue;
  width: 100px;
  border-radius: 3px;
}


.questions {
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }
  .form-control {
  width: 90%;
  }
  video {
    height: 205px;
  }
}
