.title {
  background: #212121;
  padding: 15px;
  text-align: left;
  color: #f6f6f6;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none;
  color: #f6f6f6;
  justify-content: center;
}

.card {
  background: #111;
}

p {
  line-height: 21px;
}

span {
  display: inline-block;
  padding-top: 20px;
  cursor: pointer;
}

label {
  display: block;
  padding-bottom: 10px;
}

.form-control {
  width: 60%;
}


video {
  width: 60%;
  height: 410px;
}

.action-container {
  display: flex;
  justify-content: left;
}

.btn-primary {
   background: #65c9f9;
  border: none;
}
