<div class="form-container">
  <div class="card-container">
    <div class="main-container">
      <div class="para-container">
        <p>New year 2020 was celebrated at most places with enthusiasm. As January came to an end, all the corporates, schools and colleges started getting extremely busy which was the routine for years in a row. But, a tiny 0.125-micron virus with usual symptoms of seasonal flu changed the whole world since March. For the first time in history, all the international and domestic travels stopped and almost all cities, towns went under lockdown. Only one thing most are almost sure, worst is yet to come.</p>
        <div></div>
        <p>To understand how our society and loved ones are reacting emotionally to this situation, Nihilent is requesting you to post a 30 to 45 seconds selfie video for our analysis.</p>
        <p class="questions">
        <span>Share your views on any of following:</span> <br>
        <span>1. Has this outbreak changed you as a person? If yes, how?</span><br>
        <span>2. What is the worst fear you have from this outbreak? </span><br>
        <span>3. Do you think this will impact kids education?</span><br>
        <span>4. How soon do you think we would get back to normal life?</span><br>
       </p>
       <p></p>
      </div>
      <div class="video-form-container">
        <form>
          <div class="form-group">
            <label  for="email">If you like to receive our report please provide your email (optional)</label>
            <input name="email" #emailId="ngModel" [(ngModel)]="email" id="email" class="form-control" type="text" email>
            <span *ngIf="emailId.touched && emailId.invalid" class="text-danger">Please enter valid email</span>
          </div>
          <div *ngIf="showCountDown"  class="count-down-timer">
            <p>{{recordingCountDown}}</p>
          </div>
          <div [hidden]="hideVideo || showCountDown" class="form-group">
            <video id="recordingVideo" #videoElement controls  [muted]="'muted'"></video>
          </div>
          <div [hidden]="hideRecoredVideo" class="form-group">
            <video #recordedVideoElement  controls></video>
          </div>
          <!--Web and Android-->

        <div *ngIf="!isIos" class="action-container">
          <div *ngIf="!isCameraStarted" class="form-group">
            <button class="btn btn-danger btn-sm" (click)="startCamera()">
              Start Camera
            </button>
          </div>
          <div #footer *ngIf="isCameraStarted && !isRecordingStarted" class="form-group">
            <button class="btn btn-danger btn-sm" (click)="startRecording()">
              Start Recording
            </button>
          </div>
          <div *ngIf="hideRecoredVideo && isRecordingStarted && !showCountDown" class="form-group pr-2">
            <button id="stopRecordingId" class="btn btn-primary btn-sm" (click)="stopRecording()">
              Stop Recording
            </button>
          </div>
          <div *ngIf="!hideRecoredVideo" class="form-group pr-2">
            <button type="submit" class="btn btn-primary btn-sm" (click)="submit()">
              Submit
            </button>
          </div>
          <div *ngIf="!hideVideo && !showCountDown" [ngClass]="{'count-down': (60 - timer) < 10 }">
            Time Remaining: {{45 - timer}}
          </div>
        </div>
        </form>
      </div>
    </div>
  <!--IOS-->
  <div *ngIf="isIos" class="action-container">
    <input *ngIf="!iosVideoFile" id="file" #file name="file" type="file" (change)="fileUpload($event)" accept="video/*">
    <div *ngIf="iosVideoFile" class="form-group pr-2">
      <button class="btn btn-primary" (click)="submit()">
        Upload
      </button>
    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>
