
.footer-1 {
  margin-top: 410px;
}
.form-container {
  display: flex;
  padding: 20px;
  border: none;
  color: #f6f6f6;
  justify-content: center;
}

.card-container {
  width: 50%;
  justify-content: center;
}

p {
  line-height: 21px;
}


span {
  display: inline-block;
  padding-top: 10px;
  cursor: pointer;
}

label {
  display: block;
  padding-bottom: 10px;
}

.form-control {
  width: 50%;
}


video {
  width: 100%;
  height: 410px;
}

.action-container {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.btn {
  margin-right: 10px;
}

.btn-primary {
   background: #65c9f9;
  border: none;
}

.drop-down {
  height: 25px;
  color: #fff;
  background: blue;
  width: 100px;
  border-radius: 3px;
}


.questions {
  margin-top: 10px;
}

.count-down {
  color: red;
}

img {
  width: 5px;
  height: 5px;
}
@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }
  .card-container {
    width: 100%;
  }
  .form-control {
      width: 90%;
  }
  video {
    height: 205px;
  }
}

/* Iphone */

.custom-file {
  cursor: pointer;
  display: block;
  background: #dc3545;
  color: #ffffff;
  padding: 8px;
  width: 130px;
  margin-right: 10px;
  border-radius: 0.25rem;
}
#file {
  display: none;
  cursor: pointer;

}
