<div class="title">
  <h3>Social Impact of Covid 19</h3>
</div>
<div class="form-container">
  <p>New Year 2020 was celebrated at most places with enthusiasm. As January came to end, all corporates, schools, colleges started getting busy; extremely busy, which was the routine for many years. A tiny  0.125 Micron virus with usual symptoms of seasonal flu changed the complete world since March. First time in world that almost all International and Domestic travels are stopped, almost all cities, towns are home locked. Only one thing most are almost sure, Worst is yet to come.</p>
  <div></div>
  <p>To understand, how our society and near ones are reacting emotionally  to this situation, Nihilent is requesting you to post a 45 to 60 second selfie video of yours expressing your views on</p>
 <p>
  <span>1. Have this outbreak changed you as a person? how?</span><br>
  <span>2. How soon do you think we get back to normal life? </span><br>
  <span>3. What is your worst fear from this outbreak? </span><br>
  <span>4. Do you think this will impact kids education?</span>
 </p>
 <p></p>
  <form>
    <div class="form-group">
      <label  for="email">If you like to receive our report please provide your email</label>
      <input name="email" [(ngModel)]="email" id="email" class="form-control" type="email">
    </div>
    <!-- <div class="form-group">
      <label for="phoneNumber">Phone</label>
      <input name="phone" [(ngModel)]="phone" id="phoneNumber" maxLength=10  class="form-control" type="text">
    </div> -->
    <div [hidden]="hideVideo" class="form-group">
      <video id="recordingVideo" #videoElement controls autoplay="true" [muted]="'muted'"></video>
    </div>
    <div [hidden]="hideRecoredVideo" class="form-group">
      <video #recordedVideoElement controls></video>
    </div>
  </form>
  <div class="action-container">
    <div  *ngIf="hideVideo" class="form-group">
      <button class="btn btn-danger btn-sm" (click)="startRecording()">
        Start Recording
      </button>
    </div>
    <div *ngIf="!hideVideo" class="form-group pr-2">
      <button id="stopRecordingId" class="btn btn-primary btn-sm" (click)="stopRecording()">Stop Recording</button>
    </div>
    <div *ngIf="!hideRecoredVideo" class="form-group pr-2">
      <button class="btn btn-primary btn-sm" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
