/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body {
  font-family: Lato,sans-serif;
  padding: 0px;
  margin: 0px;
  background: #f7f8fc;
  font-weight: 400;
  line-height: 1.7rem;
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
